.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #011502; /* Dark background color that matches the theme */
    color: white; /* Ensures that text stands out against the darker background */
}

/* Calendar and group title are side by side */
.calendar-group-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.calendar-container-with-bg {
  width: 100%;
  max-width: 600px; /* You can adjust this to the appropriate size */
  margin: 0 auto;
  position: relative; /* Keep it positioned relative to avoid shifting */
}


.calendar-container-with-bg:hover {
  margin: 0 auto; /* Ensure hover doesn't affect the margin */
  padding: 0; /* Ensure no padding changes on hover */
}

/* Styling for the group title */
.group-title {
    margin-left: 20px;
}

.group-title h2, .group-title h3 {
    color: #9EC5AB; /* Adjust group title color to fit the new background */
}

/* Bottom buttons styling */
.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
    margin-top: 30px;
}

.bottom-button {
    background-color: #104F55; /* Button background color */
    color: white;
    font-size: 18px;
    padding: 20px 40px; /* Taller buttons */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    flex-grow: 1;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.bottom-button:hover {
    background-color: #32746D;
}

/* Pop-up positioning */
.popup {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
  width: 300px; /* Adjust width so it doesn't affect calendar size */
}
