/* Import Poppins and Nunito from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;700&display=swap');

/* Dashboard container styling */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Nunito', sans-serif; /* Changed to Nunito */
    background-color: #011502;
    color: white;
}

/* Calendar and group title are side by side */
.calendar-group-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.calendar-container-with-bg {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

/* Styling for the group title */
.group-title {
    margin-left: 20px;
}

.group-title h2, .group-title h3 {
    color: #9EC5AB;
    font-family: 'Poppins', sans-serif; /* Changed to Poppins for titles */
}

/* Bottom buttons styling */
.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
    margin-top: 30px;
}

.bottom-button {
    background-color: #104F55;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif; /* Changed to Poppins for buttons */
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    flex-grow: 1;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.bottom-button:hover {
    background-color: #32746D;
}

/* Pop-up positioning */
.popup {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
  width: 300px;
  font-family: 'Nunito', sans-serif; /* Changed to Nunito for pop-up */
}
